body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(https://wallpaperaccess.com/full/654513.jpg);
}

.login-container {
    background-color: rgba(0, 255, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: #ffffff;
}

label {
    font-size: 12px;
    display: block;
    margin-top: 10px;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 0px;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.561);
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: rgb(76, 97, 175);
    color: #fff;
    font-size: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
h2{
    color: rgb(159, 190, 136);
}
.navtoindex{
    color: white;
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
}
a:hover{
    color: #45a049;
}